!!! 5
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title php jade wrapper
  body
    p This is a simple wrapper for 
      a(href="https://github.com/everzet/jade.php") jade.php
    p See index.php for basic usage example.
    ul
      - foreach ($items as $k => $item)
        li {{$item}}